p {
    font-family: Arial, Helvetica, sans-serif;
}

span {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}
label {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    
    display: flex;
    justify-items: center;
}

header a {
    text-decoration: none;

}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 0;
    padding: 0;
    list-style: none;
}

.error-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-display {
    display: flex;
    align-items: center;
    gap: 1em;

    color: red;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid red;
    
    padding: 1rem;
    visibility: hidden;
}

.error-display > *{
    font-family: Arial, Helvetica, sans-serif;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    

    width: 700px;
    height: 50%;
    border: 2px solid black;
    margin: 5px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
    border-bottom: 2px solid black;
}

/* Options dropdown button */
.options-button{
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight:bolder;
    padding: 5px;
    margin: 2px;
    border-radius: 20%;
}

input[type="submit"], button {
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 5px;
    margin: 2px;
}

.options-button:hover, input[type="submit"]:hover, button:hover {
    background-color: black;
    color: white;

}

/* The <div> containing the options */
.post-options {
    position: relative;
    display: inline-block;
}

.hide {
    display: none;
}

/* The content from the dropdown options 
(hidden by default*/
.options-content {
    position: absolute;
    text-decoration: none;
    font-weight:normal;
    background-color: white;
    min-width: 80px;
    border: 1px solid black;
    z-index: 1;
}


/* Change the style of how each content is displayed */
.options-content a, a:link, a:visited {
    display: block;
    text-decoration: none;
    color: black;
    padding: 2px
}
/* Change color of dropdown links on hover */
.options-content a:hover {
    background-color: black;
    color: white;
}


.post-image {
    display: flex;
    justify-content: center;
}

.post-image img {
    max-height:100%; 
    max-width:100%;
    object-fit: fill;
}

.post-comments {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
}

.post-comment {
    display: flex;
    gap: 1rem;
    
    border-bottom: 1px solid black;
    margin-top: 5px;
    padding: 5px;
}

.post-comment img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}
.comment-user {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.comment-username {
    font-weight: bold;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    
}

.comment-form textarea{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.comment-form input[type=submit] {
    width: max-content;
    align-self: center;  
}